bin/
obj/
build-out/
packages/
dist/
*.vs
*.vscode
*.user
.DS_Store
/src/server/wwwroot/media
webOSTV*.js
/src/Common/Utility.Core/Classes
/src/Common/Utility.Core/Extensions
/src/Common/Utility.Core/Functions
/src/Common/Utility.Core/Models
