@inject IJSRuntime JS

<div id="@FadeImageId">
    <img class="fade-image img-1"/>
    <img class="fade-image img-2"/>
</div>

<style>
    .fade-image
    {
        position: absolute;
        object-fit: cover;
        transition: opacity .75s ease-in-out;
        width: 100vw;
        opacity: 0;
    }

    .filter {
        background-color: rgba(0, 0, 0, 0.5);
    }

    #@(FadeImageId) {
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: -3;
        background-color: #121212;
        overflow: hidden;
        transition: transform 0.125s linear, background-color 0.125s linear;
    }

    #@(FadeImageId).game-details {
        transform: scale(1.76) translateY(21%);
    }

    #@(FadeImageId).game-details.hide {
        transform: scale(1.76) translateY(-100%);
    }

    #@(FadeImageId).hide {
        transform: translateY(-100%);
    }
</style>

@code {
    private bool _imageOneIsActive;
    private bool _hasChanged;
    private IJSObjectReference? _module;

    [Parameter]
    public string FadeImageId { get; set; }

    [Parameter]
    public string Img
    {
        set
        {
            _imageOneIsActive = !_imageOneIsActive;
            _hasChanged = true;
            _pendingUrl = value;
            StateHasChanged();
        }
    }

    private string? _pendingUrl;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JS.InvokeAsync<IJSObjectReference>("import", "./Blazor/Components/FadeImage.razor.js");
        }

        if (_hasChanged && _module is not null)
        {
            _hasChanged = false;
            var show = _imageOneIsActive ? ".img-1" : ".img-2";
            var hide = _imageOneIsActive ? ".img-2" : ".img-1";
            await _module.InvokeVoidAsync("revealImage", FadeImageId, show, hide, _pendingUrl);
        }
    }
}
