@using Server.Models.Database
@using Server.Models.Events
@using Server.Models.UserInterface
@using Server.Services
@implements IAsyncDisposable
@inject IDatabaseClient DatabaseClient
@inject BrowseState BrowseState
@inject IJSRuntime JS

<div id="game-details" class="hide">

    <div id="play-button" class="page-button" tabindex="0"
         @onclick="PlayGameAsync">
        <div id="play-button-text" class="page-button-text">@_playAction</div>
    </div>
    @if(BrowseState.GameInfo != null)
    {
        <div id="details" tabindex="0">
            @foreach (var detail in _detailsList)
            {
                <div class="detail-item">@((MarkupString)detail)</div>
            }
        </div>
        @if (!string.IsNullOrWhiteSpace(BrowseState.GameInfo.TrailerUrl))
        {
            <video id="trailer" loop muted controls autoplay>
                <source src="@BrowseState.GameInfo.TrailerUrl" type="video/mp4">
            </video>
        }
    }
</div>

@code
{
    private List<string> _detailsList =>
    [
        BrowseState.GameInfo!.Description,
        BrowseState.GameInfo.Description,
        BrowseState.GameInfo.Description
    ];

    protected override void OnInitialized()
    {
        BrowseState.GameInfoChanged += StateHasChanged;
        DatabaseClient.GameUpdated += OnGameOperationUpdatedAsync;
    }

    public async ValueTask DisposeAsync()
    {
        BrowseState.GameInfoChanged -= StateHasChanged;
        DatabaseClient.GameUpdated -= OnGameOperationUpdatedAsync;
        if (_jsModule is not null)
        {
            await _jsModule.DisposeAsync();
        }
    }

    private string _playAction => BrowseState.GameInfo?.Versions.First().Status switch
    {
        GameStatus.Running   => "STOP",
        GameStatus.Installing => "INSTALLING",
        GameStatus.Installed => "PLAY",
        GameStatus.Uninstalling => "UNINSTALLING",
        _                => "INSTALL"
    };

    private async Task PlayGameAsync()
    {
        if (BrowseState.GameInfo is null)
        {
            return;
        }

        var operation = BrowseState.GameInfo.Versions.First().Status switch
        {
            GameStatus.Running   => DatabaseClient.StopGameAsync   (BrowseState.GameInfo.Id),
            GameStatus.Installed => DatabaseClient.StartGameAsync  (BrowseState.GameInfo.Id),
            _                    => DatabaseClient.InstallGameAsync(BrowseState.GameInfo.Id)
        };

        await operation;
    }

    private async Task OnGameOperationUpdatedAsync(GameDisplayUpdatedEventArgs args)
    {
        if (BrowseState.SelectedGame is null)
        {
            return;
        }

        if (BrowseState.PlayingGameId == args.GameInfo.Id
         && args.GameInfo.Versions.All(v => v.Status != GameStatus.Running))
        {
            BrowseState.PlayingGameId = null;
            await HideHdmiVideoAsync();
        }
        
        if (args.GameInfo.Id != BrowseState.SelectedGame.Id)
        {
            return;
        }

        if (args is { Type: OperationType.StartGame, State: OperationState.Finished })
        {
            BrowseState.PlayingGameId = args.GameInfo.Id;
            await RevealHdmiVideoAsync();
        }

        await InvokeAsync(() =>
        {
            if (args.GameInfo.Id != BrowseState.SelectedGame.Id)
            {
                return;
            }

            BrowseState.GameInfo = args.GameInfo;
        });
    }

    private async Task OnFail()
    {
        // js interop revert ui
    }

    private IJSObjectReference? _jsModule;

    private async Task RevealHdmiVideoAsync()
    {
        _jsModule ??= await JS.InvokeAsync<IJSObjectReference>("import", "./Blazor/Components/GameDetails.razor.js");
        await _jsModule.InvokeVoidAsync("revealHdmiVideo");
    }

    private async Task HideHdmiVideoAsync()
    {
        await _jsModule!.InvokeVoidAsync("hideHdmiVideo");
    }
}
