<nav id="overlay" class="hide">
    <div class="overlay-item" tabindex="0">
        Library
    </div>
    <div class="overlay-item" tabindex="0">
        Settings
    </div>
    <div class="overlay-item" tabindex="0">
        Power
    </div>
</nav>

