@inject IJSRuntime JS

<div id="topBar">
    <div id="menu-button" class="bar-item" tabindex="0">
        <img src="/res/bars.png"/>
    </div>
    <div id="gridButton" class="bar-item" tabindex="0">G</div>
    <div id="clock">
        <div id="clock-text"></div>
    </div>
    <div id="searchBar"></div>
</div>

@code
{
    private IJSObjectReference? module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        module = await JS.InvokeAsync<IJSObjectReference>("import", "./Blazor/Components/TopBar.razor.js");
        await module.InvokeVoidAsync("initClock");
    }

    public async ValueTask DisposeAsync()
    {
        if (module is not null)
        {
            await module.InvokeVoidAsync("disposeClock");
            await module.DisposeAsync();
        }
    }
}
